body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #ffffff !important;
}

/*Videos*/
video {
  width: 100%    !important;
  height: auto   !important;
}
#war, #security, #national, #evil, #hiroot, #jewishtop, #jewishbot, #nazi, #peace, #zhoot, #pitaroon, #race, #religion, #tkuma, #israel, #ha, #ve, #kol, #ivrit, #tzioni, #kdoshim, #sakana, #tevach {
    display: none;
    position: absolute;
    background-color: transparent;
    margin: auto;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
}
#war{z-index: 8;}
#security{z-index: 3;}
#national{z-index: 5;}
#evil{z-index: 4;}
#hiroot{z-index: 17;}
#jewishtop{z-index: 12;}
#jewishbot{z-index: 10;}
#nazi{z-index: 16;}
#peace{z-index: 6;}
#zhoot{z-index: 11;}
#pitaroon{z-index: 14;}
#race{z-index: 9;}
#religion{z-index: 1;}
#tkuma{z-index: 2;}
#israel{z-index: 7;}
#ha{z-index: 21;}
#ve{z-index: 22;}
#kol{z-index: 18;}
#ivrit{z-index: 13;}
#tzioni{z-index: 20;}
#kdoshim{z-index: 15;}
#sakana{z-index: 19;}
#tevach{z-index: 23;}

.sakanabg{
  display: none;
  z-index: 30;
  position: absolute;
  width: 100%; height: 100%;
  top: 0;left: 0;
  background-color: #FF0000;
  mix-blend-mode: multiply;
}
.tzionibg{
  display: none;
  z-index: 30;
  position: absolute;
  width: 100%; height: 100%;
  top: 0;right: 0;
  background-color: #0000FF;
  mix-blend-mode: multiply;
}
.veframe{
  display: none;
  z-index: 25;
  position: absolute;
  margin: auto;
  top: 0;left: 0; right: 0; bottom: 0;
  width: 97%; height: 97%;
  border: 3px solid #000000;
}

/*Interface*/
#not_supported{
  display: none;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgb(0,0,255);
  z-index: 500;
}
@media only screen and (max-width: 600px) {
  #not_supported img{
    width: 100vw;
    /* margin: 0 auto; */
  }
}
@media only screen and (max-width: 600px) {
  #not_supported img{
    width: 100vw;
    /* margin: 0 auto; */
  }
}@media only screen and (min-width: 600px) {
  #not_supported img{
    width: 50vw;
    /* margin: 0 auto; */
  }
}

#ns_img{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
     /* height: 50%; */
}
#text_container{
  position: absolute;
  width: 100%;
  top: 15%;
}
.videolistitem_he{
  color: rgb(0, 0, 255);
  padding: 3px;
  z-index: 100;
  position: relative;
  top: 30px; right: 50px;
  font-family: 'Miriam Libre', sans-serif;
  font-size: 1.5vh;
  font-weight: bold;
  text-align: right;
}
.videolistitem_en{
  color: rgb(0, 0, 255);
  z-index: 100;
  padding: 3px;
  visibility: hidden;
  position: relative;
  top: 30px; left: 50px;
  font-family: 'Miriam Libre', sans-serif;
  font-size: 1.5vh;
  font-weight: bold;
  text-align: left;
}
.logo{
  position: absolute;
  left: 51%;
  top: 8%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.logo img{
  width: 70%;
}
.footer{
  text-align: center;
  position: absolute;
  bottom: 1%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
}
#about_he{
  cursor: pointer;
  display: none;
  font-family: 'Miriam Libre', sans-serif;
  font-size: 1.5vh;
}
#about_en{
  cursor: pointer;
  position: absolute;
  bottom: 20px; left: 44%;
  color: rgb(0, 0, 255);
  font-family: 'Miriam Libre', sans-serif;
  font-weight: bold;
  font-size: 1.5vh;
}
#share_en{
  cursor: pointer;
  position: absolute;
  bottom: 20px; left: 54%;
  color: rgb(0, 0, 255);
  font-family: 'Miriam Libre', sans-serif;
  font-weight: bold;
  font-size: 1.5vh;
}
#language_switch{
  cursor: pointer;
  position: absolute;
  bottom: 20px; left: 50%;
  color: rgb(0, 0, 255);
  font-family: 'Miriam Libre', sans-serif;
  font-weight: bold;
  font-size: 1.5vh;
}
#link{
  display: none;
  font-family: 'Conv_Days-Bold';
  text-align: center;
  position: absolute;
  font-size: 5vh;
  top: 52%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
}
.splash_text_en{
  font-family: 'Conv_Days-Bold';
  text-align: center;
  position: absolute;
  font-size: 5vh;
  top: 52%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
}
.about_text_he{
  display: none;
  font-family: 'Conv_Days-Bold';
  text-align: right;
  direction: rtl;
  position: absolute;
  font-size: 3.5vh;
  top: 52%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
  line-height: 1.55;
}
.about_text_en{
  display: none;
  font-family: 'Conv_Days-Bold';
  text-align: left;
  position: absolute;
  font-size: 3vh;
  top: 52%;
  left: 68%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
  line-height: 1.8;
}
